name: Build Guix Installer

on:
  push:
    branches:
      - master

  # schedule:
  #   # build every 2 weeks
  #   - cron: "0 0 */14 * *"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v2

      - name: Install Guix
        uses: PromyLOPh/guix-install-action@v1
        with:
          channels: |
            (cons* (channel
                    (name 'nonguix)
                    (url "https://gitlab.com/nonguix/nonguix")
                    ;; Enable signature verification:
                    (introduction
                     (make-channel-introduction
                      "897c1a470da759236cc11798f4e0a5f7d4d59fbc"
                      (openpgp-fingerprint
                        "2A39 3FFF 68F4 EF7A 3D29  12AF 6F51 20A0 22FB B2D5"))))
                    %default-channels)

      - name: Build ISO
        run: |
          #$image=$(guix system image installer.scm)
          guix system image installer.scm --image-size=5G
